
<html><head>
	<title>OB Form</title>
    <link href="<?php echo base_url();?>assets/css/printForm.css" rel="stylesheet">
	<style>

		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-family:"Nimbus Sans L"; font-size:x-small }
		 -->
	</style>
	
</head>

<body text="#000000">
<table border="0" cellspacing="0" cols="7">
	<colgroup width="114"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup span="4" width="88"></colgroup>
	<colgroup width="106"></colgroup>
	<tbody><tr>
		<td colspan="7" valign="MIDDLE" height="83" align="CENTER"><br><img src="<?php echo base_url();?>assets/images/logo.jpg" vspace="8" width="598" height="67" hspace="33">
		</td>
		</tr>
	<tr>
		<td class="alignmidcenter" colspan="7" height="17" ><b>OFFICIAL BUSINESS</b></td>
		</tr>
	<tr>
		<td class="alignmidcenter" colspan="7" height="17" >201B FORM NO. 02</td>
		</tr>
	<tr>
		<td class="alignmidcenter" colspan="7"  height="10"><br></td>
		</tr>
	<tr>
		<td class="topleftright" colspan="3" valign="MIDDLE" height="17" align="LEFT"><b>Name of Employee:</b></td>
		<td class="topleftright" colspan="2" valign="MIDDLE" align="LEFT"><b>Designation</b></td>
		<td class="topleftright" colspan="2" valign="MIDDLE" align="LEFT"><b>Date Prepared</b></td>
		</tr>
	<tr>
		<td class="botleftright" colspan="3" valign="MIDDLE" height="17" align="CENTER"><b><div class="fontob"><?php echo $firstname.' '.$lastname;?></div></b></td>
		<td class="botleftright" colspan="2" valign="MIDDLE" align="CENTER"><b><div class="fontob"><?php echo $position;?></div></b></td>
		<td class="botleftright" colspan="2"  valign="MIDDLE" align="CENTER"><b><div class="fontob"><?php if($status=="none"){ echo date('Y-m-d'); }else{ echo $dateprep; }  ?></divb></td>
		</tr>
	<tr>
		<td class="topleftright" colspan="3" valign="MIDDLE" height="17" align="LEFT"><b>Location of Appointment</b></td>
		<td class="topleftright" colspan="2" valign="MIDDLE" align="LEFT"><b>Date of Appointment</b></td>
		<td class="topleftright" colspan="2" valign="MIDDLE" align="LEFT"><b>Time of Appointment:</b></td>
		</tr>
	<tr>
		<td class="botleftright" colspan="3" valign="MIDDLE" height="17" align="CENTER"><b><div class="fontob">DOLE – Pasig</div></b></td>
		<td class="botleftright" colspan="2" sdval="41354" sdnum="13321;0;MM/DD/YY" valign="MIDDLE" align="CENTER"><b><div class="fontob">03/21/13</b></td>
		<td style="border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);" sdval="0.354166666666667" sdnum="13321;0;HH:MM:SS AM/PM" valign="MIDDLE" align="CENTER"><b><div class="fontob">08:30:00 AM</b></td>
		<td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);" align="LEFT"><b><div class="fontob">to 4:30PM</div></b></td>
	</tr>
	<tr>
		<td class="topleftright" colspan="3" valign="MIDDLE" height="17" align="LEFT"><b>Time Start of Apportment:</b></td>
		<td class="topleftright" colspan="4" valign="MIDDLE" align="LEFT"><b>Time End of Approintment:</b></td>
		</tr>
	<tr>
		<td class="botleftright" colspan="3" sdval="0.354166666666667" sdnum="13321;0;HH:MM:SS AM/PM" valign="MIDDLE" height="17" align="CENTER"><b><div class="fontob">08:30:00 AM</div></b></td>
		<td class="botleftright" colspan="4" sdval="0.6875" sdnum="13321;0;HH:MM:SS AM/PM" valign="MIDDLE" align="CENTER"><b><div class="fontob">04:30:00 PM</div></b></td>
		</tr>
	<tr>
		<td class="topleftright" colspan="7" valign="MIDDLE" height="17" align="LEFT"><b>Purpose:</b></td>
		</tr>
	<tr>
		<td class="botleftright" colspan="7" rowspan="2" valign="MIDDLE" height="34" align="CENTER"><b><div class="fontob">Orientation course on technical assistance/ Advisory for entrepreneurs</div></b></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td colspan="7" valign="MIDDLE" height="10" align="LEFT"><b><br></b></td>
		</tr>
	<tr>
		<td colspan="7" valign="MIDDLE" height="17" align="CENTER"><b>Details of Travel Expense</b></td>
		</tr>
	<tr>
		<td colspan="7" valign="MIDDLE" height="10" align="CENTER"><b><br></b></td>
		</tr>
	<tr>
		<td class="expenses" height="17" ><b>Vehicle</b></td>
		<td class="expenses" align="CENTER"><b>Ref. No.</b></td>
		<td class="expenses" colspan="2" ><b>From</b></td>
		<td class="expenses" colspan="2"><b>To</b></td>
		<td class="expenses" ><b>Amount Paid</b></td>
	</tr>
	<tr>
		<td class="expenses" height="17" ><b><div class="fontob">Vehicle 1</div></b></td>
		<td class="expenses"><b></b></td>
		<td class="expenses" colspan="2" ><b><div class="fontob">Head Office</div></b></td>
		<td class="expenses" colspan="2" ><b><div class="fontob">DOLE – Pasig</div></b></td>
		<td class="expenses" sdval="2300"><b><div class="fontob">2300</div></b></td>
	</tr>
	<tr>
		<td class="expenses" colspan="6" valign="MIDDLE" height="17" align="CENTER"><b>Total Amount Paid</b></td>
		<td class="expenses" sdval="3400" sdnum="13321;" align="CENTER"><b><div class="fontob">3400</div></b></td>
	</tr>
	<tr>
		<td colspan="7" valign="MIDDLE" height="17" align="LEFT">*
 Note: This form should be accompanied by Fund Reimbursement Form and 
for Business Appointments, minutes of meeting should be attached.</td>
		</tr>
	<tr>
		<td colspan="7" rowspan="2" valign="MIDDLE" height="28" align="CENTER"><br></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td height="17" align="LEFT">Prepared by:</td>
		<td class="bot" colspan="2" valign="MIDDLE" align="CENTER">Ma. Reyna Moya</td>
		<td align="LEFT"><br></td>
		<td align="LEFT">Checked by:</td>
		<td class="bot" colspan="2" valign="MIDDLE" align="CENTER">Edwin Perez</td>
		</tr>
	<tr>
		<td colspan="7" rowspan="2" valign="MIDDLE" height="28" align="CENTER"><br></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td height="17" align="LEFT">Approved by:</td>
		<td class="bot" colspan="2" valign="MIDDLE" align="CENTER">Rosalinda Tsang</td>
		<td colspan="4" valign="MIDDLE" align="CENTER"><br></td>
		</tr>
	
</tbody></table>
</body></html>
