<HTML>
<HEAD>
	
<link href="printForm.css" rel="stylesheet" type="text/css" />
	
	<STYLE>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-family:"Nimbus Sans L"; font-size:x-small }
		 -->
	</STYLE>
	
</HEAD>

<BODY TEXT="#000000">
<TABLE CELLSPACING="0" COLS="10" BORDER="0">
	<colgroup WIDTH="86"></colgroup>
	<colgroup WIDTH="176"></colgroup>
	<colgroup WIDTH="69"></colgroup>
	<colgroup WIDTH="150"></colgroup>
	<colgroup WIDTH="72"></colgroup>
	<colgroup WIDTH="76"></colgroup>
	<colgroup WIDTH="86"></colgroup>
	<colgroup WIDTH="15"></colgroup>
	<colgroup SPAN="2" WIDTH="86"></colgroup>
	<TR>
		<TD COLSPAN=8 HEIGHT="98" ALIGN="CENTER" VALIGN=MIDDLE><FONT FACE="Arial"><BR><IMG SRC="logo.jpg" WIDTH=700 HEIGHT=82 HSPACE=10 VSPACE=8>
		</div></TD>
		<TD ALIGN="LEFT"><FONT FACE="Arial"><BR></div></TD>
		<TD ALIGN="LEFT"><FONT FACE="Arial"><BR></div></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="14" ALIGN="CENTER" VALIGN=MIDDLE><B><div class="pcffont">FUND REIMBURSEMENT SUMMARY FORM</div></B></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="14" ALIGN="CENTER" VALIGN=MIDDLE><B><div class="pcffont">ADMIN FORM NO. 01</div></B></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="10" ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD HEIGHT="14" ALIGN="JUSTIFY"><div class="pcffont">Name:</div></TD>
		<TD class="bot" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Larwz Libo-on</div></TD>
		<TD ALIGN="CENTER" SDNUM="13321;0;#,##0.00"><BR></TD>
		<TD ALIGN="LEFT"><div class="pcffont">Date:</div></TD>
		<TD class="bot" ALIGN="RIGHT" SDVAL="41375" SDNUM="13321;0;MMM D, YYYY"><div class="pcffont">Apr 11, 2013</div></TD>
		<TD ALIGN="LEFT"><FONT SIZE=1><BR></div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD HEIGHT="14" ALIGN="LEFT"><div class="pcffont">Purpose:</div></TD>
		<TD class="bot" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Transporatation Expense</div></TD>
		<TD COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="13321;0;#,##0.00"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="14" ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD COLSPAN=8 ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		</TR>
	<TR>
		<TD HEIGHT="12" ALIGN="LEFT"><BR></TD>
		<TD COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont"><input type="checkbox" name="liqui" value="liqui">PCF LIQUIDATION</div></TD>
		<TD COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont"><input type="checkbox" name="reim" value="reim">CASH REIMBURSEMENT</div></TD>
		<TD COLSPAN=3 ALIGN="LEFT" VALIGN=MIDDLE><div class="pcffont"><input type="checkbox" name="reple" value="reple">ALLOWANCE REPLENISHMENT</div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="11" ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" HEIGHT="27" ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">DATE</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">REF. NAME</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">REF. No.</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">PARTICULARS</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" VALIGN=MIDDLE SDNUM="13321;0;#,##0.00"><div class="pcffont">AMOUNT</div></TD>
		<TD STYLE="border-top: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">FOR ACCOUNTING USE<BR>REMARKS</div></TD>
		<TD ALIGN="LEFT" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT" VALIGN=MIDDLE><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" HEIGHT="14" ALIGN="JUSTIFY" SDVAL="41380" SDNUM="13321;0;MMM D, YYYY"><div class="pcffont">Apr 16, 2013</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER"><div class="pcffont">Taxi Plate No. TWP – 181</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="15024" SDNUM="13321;"><div class="pcffont">15024</div></TD>
		<TD class="topbotleftright" ALIGN="LEFT"><div class="pcffont">Travel Expense</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="141.5" SDNUM="13321;0;#,##0.00"><div class="pcffont">141.50</div></TD>
		<TD class="topbotright" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Office to Fit – Ed</div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" HEIGHT="14" ALIGN="JUSTIFY" SDVAL="41380" SDNUM="13321;0;MMM D, YYYY"><div class="pcffont">Apr 16, 2013</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER"><div class="pcffont">Taxi Plate No. TWP – 376</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="19373" SDNUM="13321;"><div class="pcffont">19373</div></TD>
		<TD class="topbotleftright" ALIGN="LEFT"><div class="pcffont">Travel Expense</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="145" SDNUM="13321;0;#,##0.00"><div class="pcffont">145.00</div></TD>
		<TD class="topbotright" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Fit – Ed to Office</div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" COLSPAN=4 HEIGHT="14" ALIGN="LEFT" VALIGN=MIDDLE><div class="pcffont">TOTAL EXPENSES</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="286.5" SDNUM="13321;0;#,##0.00"><div class="pcffont">286.50</div></TD>
		<TD class="topbotright" COLSPAN=3 ALIGN="LEFT" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" COLSPAN=4 HEIGHT="14" ALIGN="LEFT" VALIGN=MIDDLE><div class="pcffont">TOTAL AMOUNT OF CASH ADVANCE</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;0;#,##0.00"><div class="pcffont">0.00</div></TD>
		<TD class="topbotright" COLSPAN=3 ALIGN="LEFT" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD class="topbotleftright" COLSPAN=4 HEIGHT="14" ALIGN="LEFT" VALIGN=MIDDLE><div class="pcffont">TOTAL AMOUNT FOR REIMBURSEMENT/LIQUIDATION</div></TD>
		<TD class="topbotleftright" ALIGN="CENTER" SDVAL="286.5" SDNUM="13321;0;#,##0.00"><B><div class="pcffont">286.50</div></B></TD>
		<TD class="topbotright" COLSPAN=3 ALIGN="LEFT" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="14" ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD HEIGHT="17" ALIGN="LEFT"><div class="pcffont">Prepared by:</div></TD>
		<TD class="bot" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Larwz Libo-on</div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="RIGHT"><div class="pcffont">Checked by:</div></TD>
		<TD class="bot" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><FONT SIZE=1>Ma Reyna Moya</div></TD>
		<TD ALIGN="LEFT"><FONT SIZE=1><BR></div></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="14" ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
	<TR>
		<TD HEIGHT="14" ALIGN="LEFT"><div class="pcffont">Approved by:</div></TD>
		<TD class="bot" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Rosalinda A. Tsang</div></TD>
		<TD STYLE="border-bottom: 1px solid #ffffff" COLSPAN=5 ALIGN="CENTER" VALIGN=MIDDLE><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
		<TD ALIGN="LEFT"><BR></TD>
	</TR>
</TABLE>
</BODY>

</HTML>
