
<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 3.2//EN">

<HTML>
<HEAD>
	<link href="printForm.css" rel="stylesheet" type="text/css" />
	<STYLE>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,tr,TH,td,P { font-family:"Liberation Sans"; font-size:x-small }
		 -->
	</STYLE>
	
</HEAD>

<BODY TEXT="#000000">
<TABLE CELLSPACING="0" COLS="9" BORDER="0">
	<colgroup WIDTH="93"></colgroup>
	<colgroup WIDTH="71"></colgroup>
	<colgroup WIDTH="63"></colgroup>
	<colgroup WIDTH="67"></colgroup>
	<colgroup WIDTH="62"></colgroup>
	<colgroup WIDTH="81"></colgroup>
	<colgroup SPAN="3" WIDTH="70"></colgroup>
	<tr>
		<td COLSPAN=9 HEIGHT="83" ALIGN="CENTER" VALIGN=MIDDLE><br><IMG SRC="logo.jpg" WIDTH=634 HEIGHT=75 HSPACE=10 VSPACE=3>
		</td>
		</tr>
	<tr>
		<td COLSPAN=9 HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><B><div class="pcffont">DAILY TME RECORD REPORT<div></B></td>
		</tr>
	<tr>
		<td HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT">Name:</td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		<td ALIGN="LEFT"><br></td>
		<td COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE>Cover Period:</td>
		<td STYLE="border-bottom: 1px solid #000000" ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT">Employee #:</td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		<td ALIGN="LEFT"><br></td>
		<td COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE>No. of Worked Days:</td>
		<td STYLE="border-bottom: 1px solid #000000" ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td COLSPAN=9 HEIGHT="21" ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		</tr>
	<tr>
		<td class="topbotleftright" HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><B>DATE</B></td>
		<td class="topbotleftright" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><B>TIME-IN</B></td>
		<td class="topbotleftright" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE><B>TIME-OUT</B></td>
		<td class="topbotleftright" ALIGN="CENTER"><B>ABSENT</B></td>
		<td class="topbotleftright" ALIGN="CENTER"><B>SL</B></td>
		<td class="topbotleftright" ALIGN="CENTER"><B>SIL</B></td>
		<td class="topbotleftright" ALIGN="CENTER"><B>HOLIDAY</B></td>
	</tr>
	<tr>
		<td class="topbotleftright" HEIGHT="19" ALIGN="CENTER" SDVAL="41375" SDNUM="13321;0;MM/DD/YY">04/11/13</td>
		<td class="topbotleftright" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="0.333333333333333" SDNUM="13321;0;HH:MM:SS AM/PM">08:00:00 AM</td>
		<td class="topbotleftright" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="0.875" SDNUM="13321;0;HH:MM:SS AM/PM">09:00:00 PM</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="1" SDNUM="13321;">1 absent</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0 sl</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0 sil</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0 holiday</td>
	</tr>
	<tr>
		<td class="topbotleftright" COLSPAN=5 HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><B>TOTAL</B></td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="1" SDNUM="13321;">1</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0</td>
		<td class="topbotleftright" ALIGN="CENTER" SDVAL="0" SDNUM="13321;">0</td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT">Days Worked:</td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="1" SDNUM="13321;">1</td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT">Days Count:</td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="1" SDNUM="13321;">1</td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT"><div class="pcffont">Prepared by:<div></td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Edwin Perez<div></td>
		<td ALIGN="LEFT"><br></td>
		<td ALIGN="LEFT">Checked by:</td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE>Ma Reyna Moya</td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="CENTER" SDNUM="13321;0;#,##0.00"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
	<tr>
		<td HEIGHT="19" ALIGN="LEFT"><div class="pcffont">Approved by:<div></td>
		<td STYLE="border-bottom: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE><div class="pcffont">Rosalinda Tsang<div></td>
		<td ALIGN="CENTER" SDNUM="13321;0;#,##0.00"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><div class="pcffont"><br><div></td>
		<td ALIGN="LEFT"><br></td>
	</tr>
</TABLE>
<!-- ************************************************************************** -->
</BODY>

</HTML>
