  <!--mitchie
                            <div id="myaccount" class="span8" style="display:none; color:white;">
                                <div class="row" >
                                    <div class="span8">
                                        <h3 style='color:white; margin:0px;'>My Account</h3>

                                            <div id="viewmyaccount">
                                                <table style="width:100%;" style="margin-bottom:-50px;">
                                                        <tr>
                                                        <td class="span2"><h5>Username</h5></td>
                                                        <td><span>Michelle Anne</span></td>
                                                    </tr>
                                                        <tr>
                                                        <td><h5>Password</h5></td>
                                                        <td><span>*****</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>Type</h5></td>
                                                        <td><span>Intern</span></td>
                                                    </tr>
                                                    <tr></tr>
                                                    <tr>
                                                        <td></td>
                                                         <td><button id="editdetails-btn" class="btn btn-primary">Edit Details</button></td>
                                                     
                                                    </tr>
                                                </table>
                                            </div>

                                            <div id="editmyaccount">
                                                <form>
                                                  <table style="width:100%;" style="margin-bottom:-50px;">
                                                    
                                                      <tr>
                                                      <td class="span2" ><h5>Username</h5></td>
                                                      <td><span><input type="text"  name="username" placeholder="Username" value=""></span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><h5>Password</h5></td>
                                                      <td><span><input type="text"  name="password" placeholder="Password" value=""></span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><h5>Type</h5></td>
                                                      <td><span><input type="email"  name="type" placeholder="Type" value=""></span></td>
                                                    </tr>
                                                    <tr></tr>
                                                    <tr> 
                                                        <td></td>
                                                      <td><span><button id="savedetails-btn" class="btn btn-primary">Save Details</button></span></td>
                                                     </tr>
                                                    </table>
                                             <form>
                                            </div>




                                    </div>
                                </div>
                                
                            </div>

                               mitchie-->  